_data/
*.sqlite
*sqlite3

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.python-version

*.manifest
*.spec

Dockerfile*
*compose*.yaml
*compose*.yml
dockerfile
.python-version
model_cache/
TEMP.md
TMP.md
temp/

.mypy_cache
.pytest_cache
.ruff_cache

.github
.git
.gitignore
.gitlint
.gitlint
.pre-commit-commit-config.yaml

.codeclimate.yml
.travis.yml
.taskcluster.yml

.agents
.codex

docker-compose.yml
Dockerfile
.docker
.dockerignore

htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

*.mo
*.pot

*.log

docs/_build/

target/

.env
.venv/
venv/

.idea

.ropeproject
**/.ropeproject

**/*.swp

.vscode/


docs/
README.md
