DATABASE_URL=postgresql+psycopg://usuário:senha@postgres_db:5432/database
POSTGRES_USER=user
POSTGRES_DB=database
POSTGRES_PASSWORD=senha

PASSWORD_PEPPER=pepper

JWT_SECRET_KEY=secret
JWT_ALGORITHM=HS256
JWT_EXPIRES_IN_MINUTES=15
